.inline-left-margin {
    margin-left: 10px;
}

.log-error {
    background-color: #ffb9b9;
}

.log-warning {
    background-color: #ffed8b;
}

.log-critical {
    background-color: #ff6f6f;
}

.sidetoogle {
    margin-left: 15px;
}


#content.mini {
    margin-left: 50px;
}

#sidebar.mini, #sidebar.mini > ul {
    width: 50px;
}


    #sidebar.mini > ul > li > a > span {
        display: none;
    }

    #header {
        height: 50px;
    }

#header h1 {
    top: 5px;
    left: 10px;
    height: 50px;
}
