.inline-left-margin {
    margin-left: 10px;
}


.log-row:hover {
    border-style: solid;
    border-color: black;
}


.log-details-row {
    display: none;
}

.severity-critical {
    font-weight: bold;
}

.sidetoogle {
    margin-left: 15px;
}

#content.mini {
    margin-left: 50px;
}

#sidebar.mini, #sidebar.mini > ul {
    width: 50px;
}

    #sidebar.mini > ul > li > a > span {
        display: none;
    }

#header {
    height: 50px;
}

    #header h1 {
        top: 5px;
        left: 10px;
        height: 50px;
    }
